{% extends "blog/base.html" %}

{% block content %}
<div class="jumbotron" style="margin-top:5%;">
    <div class="text-center container">
        <h1 style="margin-bottom:10%;">About Me</h1>
        <h3>一名初二学生的个人博客站</h3>
        <br/>
        <h3>本网站基于python+django搭建</h3>
        <br/>
        <h4 style="margin-top:7%;">首页图片</h4>
        <h4>作者：
            <a href="https://pixabay.com/users/quangle-1584596/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1014712">
                Quang Le
            </a>
        </h4>
        <h4>来自
            <a href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1014712">
                Pixabay
            </a>
        </h4>
    </div>
</div>

{% endblock %}
