{% extends "blog/base.html" %}

{% block content %}

<script src="/static/mdeditor/js/jquery.min.js"></script>
<script src="/static/mdeditor/js/lib/marked.min.js"></script>
<script src="/static/mdeditor/js/lib/prettify.min.js"></script>
<script src="/static/mdeditor/js/lib/raphael.min.js"></script>
<script src="/static/mdeditor/js/lib/underscore.min.js"></script>
<script src="/static/mdeditor/js/lib/sequence-diagram.min.js"></script>
<script src="/static/mdeditor/js/lib/flowchart.min.js"></script>
<script src="/static/mdeditor/js/lib/jquery.flowchart.min.js"></script>
<script src="/static/mdeditor/js/editormd.min.js"></script>

<h1>{{ blog.name }}</h1>

<hr/>

<p>{{ blog.date_added }}</p>

<div id="doc-content">
    <textarea>{{ blog.text }}</textarea>
</div>

<br/>

<footer class="footer">
    <div class="text-center">
        {% if user.is_superuser %}
        <a href="{% url 'blog:edit_blog' blog.id %}">
            <button type="button" class="btn btn-outline-primary translate-middle-x">编辑</button></a>
        {% endif %}

        {% if blog.id == id_first %}
        <button type="button" class="btn btn-outline-secondary" style="margin-left:10%;margin-right:10%" disabled>OLDER</button>
        {% else %}
        <a href="{% url 'blog:blog' blog_last %}">
            <button type="button" class="btn btn-outline-secondary" style="margin-left:10%;margin-right:10%">OLDER</button></a>
        {% endif %}
        
        {% if blog.id == id_last %}
        <button type="button" class="btn btn-outline-secondary" style="margin-left:10%;margin-right:10%" disabled>NEWER</button>
        {% else %}
        <a href="{% url 'blog:blog' blog_next %}">
            <button type="button" class="btn btn-outline-secondary" style="margin-left:10%;margin-right:10%">NEWER</button></a>
        {% endif %}

    </div>
</footer>

<br/>

<script type="text/javascript">
    var testEditor;
    $(function () {
        testEditor = editormd.markdownToHTML("doc-content", {   //注意：这里是上面DIV的id
            htmlDecode: "style,script,iframe",
            emoji: true,
            taskList: true,
            tex: true, // 默认不解析
            flowChart: true, // 默认不解析
            sequenceDiagram: true, // 默认不解析
            codeFold: true,
    });});
 </script>

{% endblock %}